h1 {
  font-size: 3rem;
  margin: 10px;
}

h2{
  margin: 10px;
}

input, button{
  margin: 5px 0px;
}

.instructions {
  font-size: 1.25rem;
  max-width: 500px;
  text-align: center;
}

.letter {
  border-bottom: 1px black solid;
  min-width: 50px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  height: 30px;
}

#wordZone {
  border: 5px black solid;
  min-height: 100px;
  min-width: 90%;
  margin: 10px;
}
